:root {
    font-family: 'Space Mono', monospace;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 0.4s;
}
body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}
main {
    margin-left: 5rem;
    padding: 1rem;
}

/* scrolling */
body::-webkit-scrollbar {
width: 0.7rem;
}
body::-webkit-scrollbar-track {
    background-color: var(--bg-primary);
}
body::-webkit-scrollbar-thumb {
    background: rgba(33, 207, 175, 0.729);
}

main a {
    color:rgb(36, 122, 94);
    text-decoration: none;
}
main a:hover {
    background: black;
    color: white;
} */

main i {
    padding: 3px;
}
main i:hover {
    background: white;
    color: black;
}
h2 {
    margin: 20px;
    font-size: 2.5em;
    font-family: 'Rubik', sans-serif;
}
h3{
    font-size: 1.8em;
}
h4 {
    font-size: 1.3em;
}
h3, h4 {
    font-family: 'Rubik', sans-serif;
    margin: 15px;
}
.logo {
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
}
.navbar {
    width: 4.5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: 200ms ease;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-item {
    width: 100%;
}
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
.link-text {
    display: none;
    margin-left: 1rem;
}
.nav-link i, .nav-link svg {
    font-size: 1.5rem;
    margin: 0 1.5rem;
    transition: var(--transition-speed);
    color: rgba(63, 248, 174, 0.849);
}
.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}
.navbar:hover {
    width: 16rem;
}
.navbar:hover .link-text {
 display: block;
}
.logo {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
.logo svg {
   transform: rotate(0deg);
   transition: transform var(--transition-speed);
}
.navbar:hover .logo svg {
    transform: rotate(-180deg);
}
/*Hello Section */
.hello {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.hello-text {
    text-align: center;
    margin: 20px;
}
.hello-img img {
    width: 300px;
}
/*About */
.about, .projects-intro, .btn-container {
    text-align: center;
    margin: 50px;
}
.about > p {
    padding: 20px;
}
.btn-container {
    display: flex;
    flex-flow: column;
}
/* My Values */
.values {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 50px;
}
.value-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 150px;
    margin: 15px;
    padding: 15px;
    text-align: center;
    width: 300px;
}
/* My Projects */
video {
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 10px 10px 0px #7e7e7e;
}
#long-vid{
    width: 200px;
}
#square-vid{
    width: 450px;
}
.projects {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.project-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px;
}
.project-card-2 {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    margin: 50px;
}
.project-text {
    margin: 20p;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    width: 350px;
} 
.btn {
    margin: 10px;
}
/* Footer */
footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: var(--bg-primary);
    color: white;
    height: 70px;
}
.social > a {
    color: white;
}
#separation {
    font-size: 2em;
    margin: 50px;
    padding: 10px;
}
#habitus {
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 10px 10px 0px #7e7e7e;
}
.illustrations {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.illustrations > img, .emotes > img {
    margin: 15px;
}
.emotes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

@media (max-width: 600px) {

        #square-vid, #laptop, #habitus {
            width: 300px
        }
        .emotes > img {
            width: 70px;
        }
}
